$globe-font-style : 'Lato', "Helvetica Neue", Helvetica,Arial, "Hiragino Maru Gothic ProN", "STHeiti", "微軟正黑體" , "Microsoft Yahei", sans-serif;
$globe-title-font-style : 'Lato', "Helvetica Neue",cambria, georgia, Arial, "Hiragino Maru Gothic ProN", "微软雅黑", "微軟正黑體", "Microsoft Yahei", sans-serif;
$main-color: #D04A02;
$green-color: #D04A02;
$title-color: #191919;