$globe-font-style : "Helvetica Neue", Helvetica,Arial, "Microsoft Yahei", "STHeiti", "微軟正黑體" ,sans-serif;
$globe-title-font-style : "Helvetica Neue",cambria, georgia, Arial, "Microsoft Yahei", "STHeiti", "微軟正黑體", sans-serif;
$main-color: #25B3AF;
$green-color: #25B3AF;
$title-color: #2E4958;