<div class="row clear">
    <div class="col col-3 mobile-full">
        <div class="service">
            <div class="thumbnail" style="background-image: url(images/rscs/1.jpg)"></div>
            <h4 class="title">Logopond</h4>
            <p class="descript">提供眾多的品牌 Logo 設計，是一個尋找 Logo 靈感的好地方</p>
        </div>
    </div>
    <div class="col col-3 mobile-full">
        <div class="service">
            <div class="thumbnail" style="background-image: url(images/rscs/2.jpg)"></div>
            <h4 class="title">LogoFury</h4>
            <p class="descript">收藏非常多的 Logo，讓設計師們找尋靈感畫廊，在這裡你也可以看到其他人對這些概念的評價</p>
        </div>
    </div>
    <div class="col col-3 mobile-full">
        <div class="service">
            <div class="thumbnail" style="background-image: url(images/rscs/3.jpg)"></div>
            <h4 class="title">Logos</h4>
            <p class="descript">在這裡除了可以找到許多免費的 Logo 素材外，你也可以付費購買一些超讚的作品！</p>
        </div>
    </div>
    <div class="col col-3 mobile-full">
        <div class="service">
            <div class="thumbnail" style="background-image: url(images/rscs/4.jpg)"></div>
            <h4 class="title">Logospire</h4>
            <p class="descript">收藏非常多精選的 Logo，缺少靈感的時候來這邊就對了！</p>
        </div>
    </div>
    <div class="col col-3 mobile-full">
        <div class="service">
            <div class="thumbnail" style="background-image: url(images/rscs/5.jpg)"></div>
            <h4 class="title">Logo Galleria</h4>
            <p class="descript">熱門的 Logo 畫廊，也是一個取得靈感的好地方</p>
        </div>
    </div>
    <div class="col col-3 mobile-full">
        <div class="service">
            <div class="thumbnail" style="background-image: url(images/rscs/6.jpg)"></div>
            <h4 class="title">seeklogo.com</h4>
            <p class="descript">Logo 搜尋引擎，你可以透過關鍵字搜尋，找到意想不到的好靈感</p>
        </div>
    </div>
</div>
