<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="resourcesApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="zh-tw" />
    <!-- <meta property="og:url" content="http://" /> -->
    <meta property="og:image" content="images/cover.png" />
    <meta name="keywords" content="設計資源,設計資源推薦,奧革設計,用戶體驗,design resource,神器推薦" />
    <title>設計必備資源總匯 - 奧革設計</title>
    <meta name="description" content="精心整理了各式各樣的設計資源，有各種靈感、資源、工具，設計師的你別錯過了！">
    <meta property="og:title" content="設計必備資源總匯 - 奧革設計" />
    <meta property="og:description" content="精心整理了各式各樣的設計資源，有各種靈感、資源、工具，設計師的你別錯過了！" />

    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="css/fontello/css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="RootController">

    <!-- 啟動面 -->
    <div class="launch-screen">

        <!-- Header -->
        <div class="header">

            <div class="row clear">
                <div class="col col-3 tablet-col-9 mobile-col-1-2">
                    <h1 class="logo">
                        <a href="http://ogdesign.tw">
                            <img src="images/logos/logo.png" alt="奧革設計, OGDeisgn">
                        </a>
                    </h1>
                </div>
                <div class="col col-9 tablet-col-9 mobile-col-1-2">
                    <ul class="nav">
                        <li><a href="http://ogdesign.tw">首頁</a>
                        </li>
                        <li><a href="http://blog.ogdesign.tw">部落格</a>
                        </li>
                        <li class="active">設計資源</li>
                        <li><a href="http://ogdesign.tw/#contact">聯絡我們</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="slogan"> -->
        <!-- <img src="images/white_logo.png" alt="奧革設計, OGDeisgn"> -->
        <!-- <h2>設計 / 優化諮詢</h2> -->
        <!-- <h6>我們提供 App / 網頁設計，使用者界面優化諮詢服務</h6> -->
        <!-- </div> -->
        <!-- <div class="scroll-down">
            <div class="button button-light button-outline">了解更多</div>
        </div> -->
    </div>
    <div class="quick-menu">
        <div class="menu-header">設計資源導航</div>
        <div class="menu-content">
            <div class="menu-item" ng-repeat="item in items" ng-click="scrollTo($index)">{{item}}</div>
        </div>
        <div class="fb-like" data-href="http://resources.ogdesign.tw/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>

    <!-- ul>li*10 -->

    <div class="">
        <!-- Design Websites -->
        <div class="feature-section gray">
            <h2 class="feature-title">必逛大站</h2>
            <div class="feature-content">
                <p>天天逛、增廣見聞的好地方</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="https://dribbble.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/dribbble.jpg);"></div>
                            <h4 class="title">Dribbble</h4>
                            <p class="descript">設計領域最熱門的社群之一，大神設計師都會在上面分享作品</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="https://www.behance.net/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/behance.jpg);"></div>
                            <h4 class="title">Behance</h4>
                            <p class="descript">Adobe 旗下的設計師作品分享社群，在這裡你可以找到非常完整的設計概念！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.iospirations.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/iospirations.jpg);"></div>
                            <h4 class="title">iospirations</h4>
                            <p class="descript">收藏了很多 iOS / Mac 良好的界面設計、圖示設計</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.ui.cn/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/uicn.jpg);"></div>
                            <h4 class="title">UI中国</h4>
                            <p class="descript">UI中国,前身为iconfans.com。是专业的界面设计师交流、学习/展示平台.同时也是UI设计师人才流动的集散地,会员均为一线UI设计师,覆盖主流互联网公司.我们希望借助互联网的力量打造国内最专业的UI设计平台,为UI设计师做最好的服务,提高UI设计行业价值!</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.uisheji.cn/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/uidesign.jpg);"></div>
                            <h4 class="title">UI設計</h4>
                            <p class="descript">收藏各式各樣有用的設計資源</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.boxui.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/boxui.jpg);"></div>
                            <h4 class="title">BoxUI</h4>
                            <p class="descript">专注于以用户体验为中心的设计，分享精彩的UI设计、交互设计、用户研究作品及相关设计理论知识；您还可以在这里发布最新UI设计行业动态、设计活动及招聘求职信息。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://designlol.net/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/designlol.jpg);"></div>
                            <h4 class="title">Design LOL</h4>
                            <p class="descript">這裡整理了世界各地優良的設計，各種領域的經典作品都被收集進來囉</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://usepanda.com/app/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/panda.jpg);"></div>
                            <h4 class="title">Panda</h4>
                            <p class="descript">國外知名的服務，除了收入Dribble最熱門的作品外，你也可以在這裡看到產業最的訊息</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://littlebigdetails.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/littlebigdetails.jpg);"></div>
                            <h4 class="title">Little Big Details</h4>
                            <p class="descript">非常棒的網站，發掘出很多App裡頭的細節設計，非常值得做為借鏡！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://thedesigninspiration.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/designinspiration.jpg);"></div>
                            <h4 class="title">The Design Inspiration</h4>
                            <p class="descript">每天分享Logo設計, 插圖設計, 網頁設計, 名片設計, 美圖與背景圖</p>
                        </a>
                    </div>

                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://shijue.me/home/hot/0" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/shijue.jpg);"></div>
                            <h4 class="title">視覺中國</h4>
                            <p class="descript">视觉中国是中国最具活力的视觉图片分享社区及创意设计产品社会化电商平台。依托独特的创意生态理论，为原创者和消费者提供一个互动沟通的原创社区，发现原创、发现美丽，收获并分享美好的创意体验。</p>
                        </a>
                    </div>

                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.chicun.in/index.html" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/chicun.jpg);"></div>
                            <h4 class="title">尺寸</h4>
                            <p class="descript">定義了各種裝置的尺寸，尺寸ChiCun最給力的設計標準分享網站。</p>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <!-- /Design Websites -->

        <!-- App -->
        <div class="feature-section">
            <h2 class="feature-title">App UI 靈感</h2>
            <div class="feature-content">
                <p>App 設計收藏，個個都是極品</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.pttrns.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/pttrns.jpg);"></div>
                            <h4 class="title">Pttrns</h4>
                            <p class="descript">收集各種界面設計模式（Patterns），收藏在這裡的都是精品！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://inspired-ui.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/inspiredui.jpg);"></div>
                            <h4 class="title">Inspired UI</h4>
                            <p class="descript">收藏各種行動界面設計，你可以在這裡找到各種設計模式的好設計。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.mobile-patterns.com/user-profiles" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/mobilepatterns.jpg);"></div>
                            <h4 class="title">Mobile Patterns</h4>
                            <p class="descript">與 Pttrns 相似，這裡也有許多設計樣式可以參考</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://mobileawesomeness.com/?ref=tap" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/mobileawesomeness.jpg);"></div>
                            <h4 class="title">Mobile Awesomeness</h4>
                            <p class="descript">在這裡除了可以找到許多免費的 Logo 素材外，你也可以付費購買一些超讚的作品！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.lovelyui.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/lovelyui.jpg);"></div>
                            <h4 class="title">lovely UI</h4>
                            <p class="descript">lovely UI 是 tumblr 平台上的知名部落格，這裡收藏許多簡潔好看的界面設計。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://inspirationmobile.tumblr.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/mobiledesigninspiration.jpg);"></div>
                            <h4 class="title">Mobile Design Inspiration</h4>
                            <p class="descript">Mobile Design Inspiration 每天分享許多來自世界各地的良好界面、圖示。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://appui.mobi/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/appmobiledesign.jpg);"></div>
                            <h4 class="title">APP UI</h4>
                            <p class="descript">對岸收藏行動介面設計的網站，發現設計、分享設計</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.uisheji.me/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/uisheji.jpg);"></div>
                            <h4 class="title">UI 設計</h4>
                            <p class="descript">UI设计-最具有视觉性的设计 我们不收集毁三观设计 我们只收集精品 提供原创欣赏 并在用户允许状态下免费提供下载</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.uicorner.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/uicorner.jpg);"></div>
                            <h4 class="title">UICorner</h4>
                            <p class="descript">分享許多界面設計靈感、設計教學，內容整理得非常細心。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.appdesignserved.co/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/appdesignserved.jpg);"></div>
                            <h4 class="title">App Design Served</h4>
                            <p class="descript">知名設計社群 Behance 的分站，這裡的 App Design 都是從 Behance 上精挑細選出來的！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://ui4app.com/category/userguide" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/ui4app.jpg);"></div>
                            <h4 class="title">Ui4App</h4>
                            <p class="descript">分享精美的App界面设计，可以說是對岸版本的Pttrns。</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /App -->

        <!-- App ICON -->
        <div class="feature-section gray">
            <h2 class="feature-title">App ICON 靈感</h2>
            <div class="feature-content">
                <p>精品 ICON 設計收藏</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.overlapps.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/overlapps.jpg);"></div>
                            <h4 class="title">overlapps</h4>
                            <p class="descript">收藏來自世界各地的優良 ICON 設計，是一個非常專注在 ICON 設計整理與分享的好地方！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://iosicongallery.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/iosicongallery.jpg);"></div>
                            <h4 class="title">iOS Icon Gallery</h4>
                            <p class="descript">收藏非常多的 iOS 系統上的 ICON 設計，各個案例都是精選！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.iconsfeed.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/iconsfeed.jpg);"></div>
                            <h4 class="title">Iconsfeed</h4>
                            <p class="descript">Iconsfeed 就像是 ICON 界的 Pttrns，你可以閱覽各種分類的 ICON 設計。</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /App ICON -->

        <!-- Website -->
        <div class="feature-section">
            <h2 class="feature-title">網頁設計靈感</h2>
            <div class="feature-content">
                <p>網頁設計極品收藏，靈感多到溢出來</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.awwwards.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/awwwards.jpg);"></div>
                            <h4 class="title">Awwwards</h4>
                            <p class="descript">在這裡你看到來至世界各地超讚的網頁設計，除此之外你也可以看到這個網站在這種各種分析指標的分數！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.siteinspire.com//" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/siteinspire.jpg);"></div>
                            <h4 class="title">siteInspire</h4>
                            <p class="descript">收藏超過2,500個以上來自世界各地的網頁設計，各個都是精品！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.webdesignserved.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/webdesignserved.jpg);"></div>
                            <h4 class="title">Web Design Served</h4>
                            <p class="descript">知名設計社群 Behance 的分站，這裡的網頁設計都是從 Behance 上精挑細選出來的！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://box.mepholio.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/mepholio.jpg);"></div>
                            <h4 class="title">MephoBox</h4>
                            <p class="descript">將網頁解構，你可以在這看到各種良好設計的網頁元件。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.webtutorialplus.com/best-website-designs/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/webtutorialplus.jpg);"></div>
                            <h4 class="title">Best Website Designs</h4>
                            <p class="descript">收藏世界各地那些頂尖設計的網站，不過最近好像沒有更新了：（</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://fltdsgn.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/fltdsgn.jpg);"></div>
                            <h4 class="title">Flat Design</h4>
                            <p class="descript">想參考扁平設計風格的網站？來這個網站就對了！</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Website -->

        <!-- PSD -->
        <div class="feature-section gray">
            <h2 class="feature-title">PSD 素材下載</h2>
            <div class="feature-content">
                <p>需要免費資源？這幾個網站趕快記下來</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://freebiesbug.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/freebiesbug.jpg);"></div>
                            <h4 class="title">Freebiesbug</h4>
                            <p class="descript">分類非常細的免費 PSD 素材網站，你可以在這裡找到非常棒的免費素材。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://apppsd.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/apppsd.jpg);"></div>
                            <h4 class="title">APPPSD</h4>
                            <p class="descript">對岸收藏免費 PSD 素材的網站，素材的品質都很不錯</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.designfreebies.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/designfreebies.jpg);"></div>
                            <h4 class="title">Design Freebies</h4>
                            <p class="descript">精選的 PSD 素材整理下載，提供個人、商用的版權</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://graphicburger.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/graphicburger.jpg);"></div>
                            <h4 class="title">GraphicBurger</h4>
                            <p class="descript">非常多免費的設計素材可以下載，很多素材都有商業授權，實在非常佛心。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://fribbble.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/fribbble.jpg);"></div>
                            <h4 class="title">Fribbble</h4>
                            <p class="descript">Fribbble 從名字就能猜出它在做什麼，這裡收藏很多來自 Dribbble 設計師之手的免費 PSD 素材。</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /PSD -->

        <!-- Sketch -->
        <div class="feature-section">
            <h2 class="feature-title">Sketch 素材下載</h2>
            <div class="feature-content">
                <p>Sketch 資源整理，找資源先來這幾個網站看看</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.sketchappsources.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/sketchappsources.jpg);"></div>
                            <h4 class="title">Sketch App Sources</h4>
                            <p class="descript">Sketch 官方的素材分享網站，裡面有非常多的素材可以免費下載。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://sketchcn.com/" target="_blank">
                            <div class="thumbnail" style="background-color: #45BF7B;">Sketch 中文網</div>
                            <h4 class="title">Sketch 中文網</h4>
                            <p class="descript">Sketch 中文網整理了非常多 Sketch 相關的素材、教學，使用 Sketch 的朋友千萬要來看看</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://brilliantsketch.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/brilliantsketch.jpg);"></div>
                            <h4 class="title">Brilliant Sketch</h4>
                            <p class="descript">Dribbble 上一位印尼設計師分享自己的 Sketch 文件和創作技巧。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.sketchgems.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/sketchmine_logo.jpg);"></div>
                            <h4 class="title">Sketch MINE</h4>
                            <p class="descript">一位法國設計師收集的Sketch 資源，分類清晰，能一鍵免費下載</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.sketchgems.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/sketchgems.jpg);"></div>
                            <h4 class="title">Sketch GEMS</h4>
                            <p class="descript">一個用 Sketch 創作UI 套件和圖標的團隊網站，部分免費。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://sketchshortcuts.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/sketchshortcuts.jpg);"></div>
                            <h4 class="title">Sketch Shortcuts</h4>
                            <p class="descript">最全的 Sketch 快捷鍵集合，網站最底部還有自定義快捷鍵的方法。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://sketchtips.tumblr.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/tumblrtips.jpg);"></div>
                            <h4 class="title">Sketch Tips</h4>
                            <p class="descript">Sketch 的開發團隊 Bohemian Coding 在 tumblr 上維護的一個官方技巧博客。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://sketchtricks.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/trickslogo.jpg);"></div>
                            <h4 class="title">Sketch Tricks</h4>
                            <p class="descript">集合了一些 Sketch 的使用心得，同時提供針對Android 的素材。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="https://github.com/sketchplugins/plugin-directory" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/github.jpg);"></div>
                            <h4 class="title">Sketch Plugins</h4>
                            <p class="descript">Github上由 Bomber Studios 製作的一系列插件，幫助你更高效的使用Sketch。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.sketchcasts.net/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/sketchcasts.jpg);"></div>
                            <h4 class="title">SketchCasts</h4>
                            <p class="descript">一個葡萄牙設計團隊創作的 Sketch 教學視頻，每週更新。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="https://medium.com/sketch-app/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/medium.jpg);"></div>
                            <h4 class="title">Sketch App Collect</h4>
                            <p class="descript">Medium 上關於 Sketch 的 collection, 聚合了很多很棒的討論</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://aegeank.com/sketchactive/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/sketchactive.jpg);"></div>
                            <h4 class="title">SketchActive</h4>
                            <p class="descript">用 Sketch 創作的360個矢量圖標，免費下載。</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Sketch -->


        <!-- Logo -->
        <div class="feature-section gray">
            <h2 class="feature-title">LOGO靈感資源</h2>
            <div class="feature-content">
                <p>多個LOGO網站，滿滿的都是想法</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://logopond.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/logopond.jpg);"></div>
                            <h4 class="title">Logopond</h4>
                            <p class="descript">提供眾多的品牌 Logo 設計，是一個尋找 Logo 靈感的好地方</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://logofury.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/logofury.jpg);"></div>
                            <h4 class="title">LogoFury</h4>
                            <p class="descript">收藏非常多的 Logo，讓設計師們找尋靈感畫廊，在這裡你也可以看到其他人對這些概念的評價</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://logos.co/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/logos.jpg);"></div>os</h4>
                            <p class="descript">在這裡除了可以找到許多免費的 Logo 素材外，你也可以付費購買一些超讚的作品！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.logospire.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/logospire.jpg);"></div>
                            <h4 class="title">Logospire</h4>
                            <p class="descript">收藏非常多精選的 Logo，缺少靈感的時候來這邊就對了！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.logogalleria.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/logogalleria.jpg);"></div>
                            <h4 class="title">Logo Galleria</h4>
                            <p class="descript">熱門的 Logo 畫廊，也是一個取得靈感的好地方</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://seeklogo.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/seeklogo.jpg);"></div>
                            <h4 class="title">seeklogo.com</h4>
                            <p class="descript">Logo 搜尋引擎，你可以透過關鍵字搜尋，找到意想不到的好靈感</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Logo -->

        <!-- Branding -->
        <div class="feature-section">
            <h2 class="feature-title">品牌設計靈感</h2>
            <div class="feature-content">
                <p>了解品牌設計，最完整的設計靈感</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.brandingserved.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/brandingserved.jpg);"></div>
                            <h4 class="title">Branding Served</h4>
                            <p class="descript">知名設計社群 Behance 的分站，這裡的 Branding Design 都是從 Behance 上精挑細選出來的！</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Branding -->

        <!-- Font -->
        <div class="feature-section gray">
            <h2 class="feature-title">字體</h2>
            <div class="feature-content">
                <p>一些字體相關的網站</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.qiuziti.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/qiuziti.jpg);"></div>
                            <h4 class="title">qiuziti</h4>
                            <p class="descript">來 qiuziti 上傳圖片，問字體不求人！</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Font -->

        <!-- Colors -->
        <div class="feature-section">
            <h2 class="feature-title">顏色靈感</h2>
            <div class="feature-content">
                <p>缺乏配色靈感，從這幾個網站上找找吧</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.colourlovers.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/colourlovers.jpg);"></div>
                            <h4 class="title">COLOURlovers</h4>
                            <p class="descript">討論配色的社群，你可以在這看到來自四面八方的色彩靈感！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://color.hailpixel.com/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/hailpixel.jpg);"></div>
                            <h4 class="title">color.hailpixel</h4>
                            <p class="descript">非常酷的配色網站，你只需要點、點、點，隨性配色的好地方！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.peise.net/tools/web/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/peise.jpg);"></div>
                            <h4 class="title">Color Scheme Designe</h4>
                            <p class="descript">超級好用的配色工具，你可以使用單色、互補色、類似色等搭配方式找到理想的色彩搭配方案。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="https://kuler.adobe.com/zh/explore/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/kuler.jpg);"></div>
                            <h4 class="title">Adobe Kuler</h4>
                            <p class="descript">由 Adobe 開發的色彩分享網站，在這裡你可以看到非常多樣的 Color Scheme，讓我們的靈感源源不絕！</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Colors -->


        <!-- Tools -->
        <div class="feature-section gray">
            <h2 class="feature-title">效率工具</h2>
            <div class="feature-content">
                <p>省下時間，喝杯咖啡！</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.getmarkman.com//" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/getmarkman.jpg);"></div>
                            <h4 class="title">馬克鰻</h4>
                            <p class="descript">你還在用PS標注設計稿？馬上試試超高效的設計稿標註、測量工具</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.fancynode.com/colorcube/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/colorcube.jpg);"></div>
                            <h4 class="title">配色神器ColorCube </h4>
                            <p class="descript">簡單易用，支持下列功能：1.批量網頁截圖 2.屏幕吸管 3.色彩分析,色板導出</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://macrabbit.com/slicy/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/slicy.jpg);"></div>
                            <h4 class="title">Slicy</h4>
                            <p class="descript">自動切圖神器！減少了很多設計師的工作量！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.cutterman.cn/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/cutterman.jpg);"></div>
                            <h4 class="title">Cutterman</h4>
                            <p class="descript">它是款Photoshop插件，幫助你快速完成切圖工作</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Tools -->

        <!-- Logo -->
        <div class="feature-section ">
            <h2 class="feature-title">設計規範</h2>
            <div class="feature-content">
                <p>設計規範一定有它的道理，了解各種平台上的設計細節</p>
                <div class="row clear">
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/material-design.jpg);"></div>
                            <h4 class="title">Google Material Design</h4>
                            <p class="descript">Goolge Material Design 的設計規範，可以從裡頭學到很多很多。</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://www.ui.cn/Material/index.html" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/material-design-cn.jpg);"></div>
                            <h4 class="title">Google Material Design 中文版</h4>
                            <p class="descript">來自對岸翻譯的 Material Design 中文版！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="https://developer.apple.com/library/iOS/documentation/userexperience/conceptual/mobilehig/" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/iosguideline.jpg);"></div>
                            <h4 class="title">iOS 7 Human Interface Guidelines</h4>
                            <p class="descript">蘋果人機界面設計規範，設計師應該都要看過！</p>
                        </a>
                    </div>
                    <div class="col col-3 mobile-full">
                        <a class="service" href="http://zhuanlan.zhihu.com/langqixu/19675089" target="_blank">
                            <div class="thumbnail" style="background-image: url(images/rscs/iosguideline-cn.jpg);"></div>
                            <h4 class="title">iOS 7 Human Interface Guidelines 中文版</h4>
                            <p class="descript">由對岸翻譯的蘋果人機界面設計規範，翻譯的品質還不錯。</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-section gray">
            <h2 class="feature-title">分享給大家</h2>
            <div class="feature-content">
                <p>喜歡這份整理嗎？幫我們分享給更多的人知道：）</p>
                <div class="fb-like-box" data-href="https://www.facebook.com/ogdesign.tw" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
                <div class="fb-like" data-href="http://augus.github.io/og-design-resources/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer feature-section">
            <div class="row clear">
                <div class="col col-4 logo">
                    <img src="images/logos/logo_dark.png" alt="">
                    <p>專注於用戶體驗優化以及網頁/行動應用界面設計，我們以使用者為中心出發，創造最好的品牌體驗。</p>
                </div>
                <div class="col col-4 contact">
                    <h4 class="footer-title">聯絡我們</h4>
                    <div class="socials-contact">
                        <a href="https://www.facebook.com/ogdesign.tw" target="_blank" class="social-item"><i class="icon-facebook"></i></a>
                        <a href="https://www.facebook.com/ogdesign.tw" target="_blank" class="social-item"><i class="icon-twitter"></i></a>
                        <a href="https://www.facebook.com/ogdesign.tw" target="_blank" class="social-item"><i class="icon-gplus"></i></a>
                        <a href="https://www.facebook.com/ogdesign.tw" target="_blank" class="social-item"><i class="icon-linkedin"></i></a>
                    </div>
                    <div class="footer-item">聯絡電話 : <a href="tel:+0927598161">0927-598-161</a></div>
                    <div class="footer-item">電子郵件 : <a href="mailto:augus@ogdesign.tw">augus@ogdesign.tw</a></div>
                    <!-- <div class="footer-item">公司地址：台北市新生北路一段3號4樓</div> -->
                </div>
                <div class="col col-2 about">
                    <h4 class="footer-title">關於我們</h4>
                    <div class="footer-item"><a href="http://blog.ogdesign.tw">部落格</a></div>
                    <div class="footer-item"><a href="">設計資源</a></div>
                    <div class="footer-item"><a href="">設計週報訂閱</a></div>
                </div>
                <div class="col col-2 services">
                    <h4 class="footer-title">服務</h4>
                    <div class="footer-item"><a href="">網站設計</a></div>
                    <div class="footer-item"><a href="">App 設計</a></div>
                    <div class="footer-item"><a href="">使用性優化</a></div>
                    <div class="footer-item"><a href="">產品雛形開發</a></div>
                </div>
            </div>
        </div>

    </div>
    <div id="fb-root"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <script src="js/default.js"></script>
    <script src="js/app.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to your website's ID. -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52653674-2', 'auto');
    ga('send', 'pageview');
    </script>

    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=1426307150978932&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="js/modernizr.js"></script>
    <script src="js/retina.min.js"></script>
</body>

</html>
